.textBox {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    white-space: pre-wrap;

    background: #FFFFFF;

    border-radius: 24px;
    border-color: #fc2525;
    

    color: rgb(145, 39, 118);
    line-height: 1.6;
}